// Enter your settings in this file and rename it to config.js

var config = {};

config.email = {};
config.smtp = {};

config.email.from = 'from@email_address.com';   // fill in your from email address here
config.email.to = 'to@email_address.com';       // fill in your to email address here

module.exports = config;
